# Dependency folders (very important!)
/frontend/node_modules
/backend/node_modules

# Environment variables (to keep your secrets safe)
/backend/.env

# Vite build output folder
/frontend/dist

# Log files
npm-debug.log*